<div class="container_sign_in">
  <div class="form_container">

    <div class="form_body">

      <% if @error_message %>
        <div class="form_error">
          <%= @error_message %>
        </div>
      <% end %>

      <div class="form_input">
        <%= form_tag("/user/sign_in_action") do %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <p>メールアドレス</p>
            <input class="mdl-textfield__input" type="text" name="email" value="<%= @email %>">
          </div>
          </p>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <p>パスワード</p>
            <input class="mdl-textfield__input" type="password" name="password" value="<%= @password %>">
          </div>
          </p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            ログイン
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
